body { margin:0; padding:0; }
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, #111111 50%, #1E1E1E 50%);
}
.marker-icon {
  border-radius: 100%;
  text-align: center;
  color: white;
  background: #41B324;
  opacity: 0.9;
}
.marker-popup .leaflet-popup-tip {
  border-top-color: rgba(17,17,17,0.8);
}
.marker-popup .leaflet-popup-content-wrapper {
  background: rgba(17,17,17,0.8);
}
.marker-popup .leaflet-popup-content {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: #f8f8f8;
}
#github-button {
  position: absolute;
  top: 10px; right: 10px;
  z-index: 1;
  width: 124px;
  border-radius: 3px;
  border: 2px solid rgba(17,17,17,0.8);
  font-size: 13px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  color: #3887BE;
  }
  #github-button:hover {
    border: 1px solid rgba(0,0,0,0.4);
    background: #f8f8f8;
    color: #404040;
  }
  #github-button:active {
    border: 1px solid rgba(0,0,0,1);
    background: #3887BE;
    color: #f8f8f8;
  }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

