<!DOCTYPE html>
<html>
  <head>
    <title>tonyta | Cartologger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css' rel='stylesheet' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
